.cards{
    display: flex;
    flex-direction: row;
}
.card {
    border-radius: 3px;
    box-shadow: #282c34 1px 1px 1px;
    padding: 5px;
    border: solid 1px darkgray;
}
.listItem {
    list-style: none;
}